[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".vim/plugged/vim-matchit"]
  path = .vim/plugged/vim-matchit
  url = https://github.com/tmhedberg/matchit.git
  ignore = untracked
