[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot

[submodule ".vim/plugged/vim-matchit"]
  path = .vim/plugged/vim-matchit
  url = https://github.com/tmhedberg/matchit.git
  ignore = untracked

[submodule ".vim/plugged/ale"]
  path = .vim/plugged/ale
  url = https://github.com/w0rp/ale

[submodule ".vim/plugged/ctrlp.vim"]
  path = .vim/plugged/ctrlp.vim
  url = https://github.com/szw/vim-ctrlspace.git

[submodule ".vim/plugged/lightline.vim"]
  path = .vim/plugged/lightline.vim
  url = https://github.com/itchyny/lightline.git

[submodule ".vim/plugged/vim-better-whitespace"]
  path = .vim/plugged/vim-better-whitespace
  url = https://github.com/itchny/vim-better-whitespace.git

[submodule ".vim/plugged/vim-css-color"]
  path = .vim/plugged/vim-css-color
  url = https://github.com/ap/vim-css-color.git

[submodule ".vim/plugged/vim-ctrlspace"]
  path = .vim/plugged/vim-ctrlspace
  url = https://github.com/szw/vim-ctrlspace

[submodule ".vim/plugged/vim-flow"]
  path = .vim/plugged/vim-flow
  url = https://github.com/flowtype/vim-flow

[submodule ".vim/plugged/vim-fugitive"]
  path = .vim/plugged/vim-fugitive
  url = https://github.com/tpope/vim-fugitive

[submodule ".vim/plugged/vim-indent-guides"]
  path = .vim/plugged/vim-indent-guides
  url = https://github.com/nathanaelkane/vim-indent-guides

[submodule ".vim/plugged/vim-polyglot"]
  path = .vim/plugged/vim-polyglot
  url = https://github.com/sheerun/vim-polyglot

[submodule ".vim/plugged/vim-surround"]
  path = .vim/plugged/vim-surround
  url = https://github.com/tpope/vim-surround

[submodule ".vim/plugged/vim-unimpaired"]
  path = .vim/plugged/vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired
